.DS_Store
Icon?
# node_modules # не нужно синхронизировать на рабочих проектах
# .htmlvalidate.json # не нужно синхронизировать на рабочих проектах
# .settings.json # не нужно синхронизировать на рабочих проектах