//&======================== SELECTS DEFAULT  ========================&//
//&======================== SELECTS DEFAULT  ========================&//

.select {
  position: relative;

  &._active {
    .select__pane-icon {
      transform: rotateX(180deg);
    }
  }

  &__pane {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__pane-icon {
    transition: all 250ms;
  }

  &__content {
    position: absolute;
    z-index: 1;
    max-height: 0;
    overflow: hidden;
    transition: all 250ms;
  }

  &__label {
    display: block;
    cursor: pointer;
  }

  input {
    position: absolute;
    visibility: hidden;
  }
}