//%======================== VARS ========================%//
//%======================== VARS ========================%//

//%------------ viewport ------------%//
$DESKTOP: 1440px;
$TABLET: 834px;
$MOBILE: 600px;
$containerPadding: desk(40px, 20px);

//%------------ colors ------------%//